.card {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    margin: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    //margin-bottom: 4px;
    flex:1;
    h1, h2, h3, h4 {
        margin: 0;
    }
    &.center-height {
        align-items: center;
    }
}

.flex {
    display: flex;;
    &-05 {
        flex:0.5;
    }
    &-1 {
        flex: 1;
    }
    &-2 {
        flex: 2;
    }
    &-3 {
        flex: 3;
    }
    &-4 {
        flex: 4;
    }
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}