.card {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 3px 2px rgba(0,0,0,0.2);
}


.flex {
    display: flex;;
    &-05 {
        flex:0.5;
    }
    &-1 {
        flex: 1;
    }
    &-2 {
        flex: 2;
    }
    &-3 {
        flex: 3;
    }
    &-4 {
        flex: 4;
    }
}
